* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body > header {
    background-color: grey;
    padding: 16px 0px;
    color: beige;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: beige;
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
    }

section {
    padding: 16px;
}

section h2, h3,h4,h5
.articles article {
    margin-bottom: 16px;
}

.articles article h3, h4, h5 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: none;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;

}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3, h4, h5 {
    font-size: 24px;
}

.section h2{
    font-size: 36px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: green
}

#economy {
    background-color: #e5e775d8;
}

#economy .articles article a {
    background-color: yellowgreen;
}

#entertainment {
    background-color: rgb(219, 184, 211);
}
#entertainment .articles article a {
    color:black;
    background-color: rgb(221, 227, 233);
}

#technology {
    background-color: rgb(140, 140, 247);
}

#technology .articles article a {
    color: black;
    background-color: blanchedalmond;
}